.bg-white {
    background-color: $bg-white;
}
.bg-light {
    background-color: $bg-light;
}
.text-dark {
    color: $text-dark;
}
.text-muted {
    color: $text-muted;
}
    
.bg-dark {
    background-color: $bg-dark;
}
.bg-very-dark {
    background-color: $bg-very-dark;
}
.text-white {
    color: $text-white;
} 



